/**
 * Print
 */

@media print {
	[canvas] {
		-webkit-transform: translate( 0px, 0px ) !important;
		    -ms-transform: translate( 0px, 0px ) !important;
		        transform: translate( 0px, 0px ) !important;
	}

	[off-canvas] {
		display: none !important;
	}
}

@media (max-width: 1199px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 991px) {
}

@media (max-width: 980px) {
}

@media (max-width: 900px) {
}

@media (max-width: 768px) {
	.padding-t-150 {
		padding-top: 90px;
	}
	#header-home {
		background-size: cover !important;
		background-position: left 90px !important;
	}
}

@media (max-width: 767px) {
}

@media (min-width: 470px) and (max-width: 767px) {
}


@media (min-width: 550px) and (max-width: 767px) {
}

@media (max-width: 696px) {
}

@media (max-width: 676px) {	
}

@media (max-width: 660px) {
}

@media (max-width: 639px) {
}
@media (max-width: 599px) {
}
@media (max-width: 575px) {
	#searchdomain-home > .box {
	    margin: 0 !important;
	    width: 100% !important;
	    box-shadow: none !important;
	}
	#price-home [class*="col-"]:nth-child(2) .webpackage-plans {
		margin-top: 0 !important;
	}
}
@media (max-width: 489px){
}
@media (max-width: 480px){
}
@media (max-width: 469px) {
}
@media (max-width: 395px) {
}

@media (max-width: 376px) {
}

@media (max-width: 350px) {
}

@media (max-width: 332px) {
}

@-webkit-keyframes toLeftFromRight {
	49% {
		-webkit-transform: translate(-100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toLeftFromRight {
	49% {
		-moz-transform: translate(-100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}
@-o-keyframes vibration {
	49% {
		-o-transform: translate(-100%);
	}
	50% {
		opacity: 0;
		-o-transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toLeftFromRight {
	49% {
		transform: translate(-100%);
	}
	50% {
		opacity: 0;
		transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}

@-webkit-keyframes vibration {
 0% { -webkit-transform: rotate(0deg); }
 17% { -webkit-transform: rotate(15deg); }
 34% { -webkit-transform: rotate(-15deg); }
 51% { -webkit-transform: rotate(11deg); }
 68% { -webkit-transform: rotate(-11deg); }
 85% { -webkit-transform: rotate(8deg); }
 100% { -webkit-transform: rotate(0deg); }
}
@-moz-keyframes vibration {
 0% { -moz-transform: rotate(0deg); }
 17% { -moz-transform: rotate(15deg); }
 34% { -moz-transform: rotate(-15deg); }
 51% { -moz-transform: rotate(11deg); }
 68% { -moz-transform: rotate(-11deg); }
 85% { -moz-transform: rotate(8deg); }
 100% { -moz-transform: rotate(0deg); }
}
@-o-keyframes vibration {
 0% { -o-transform: rotate(0deg); }
 17% { -o-transform: rotate(15deg); }
 34% { -o-transform: rotate(-15deg); }
 51% { -o-transform: rotate(11deg); }
 68% { -o-transform: rotate(-11deg); }
 85% { -o-transform: rotate(8deg); }
 100% { -o-transform: rotate(0deg); }
}
@keyframes vibration {
 0% { transform: rotate(0deg); }
 17% { transform: rotate(15deg); }
 34% { transform: rotate(-15deg); }
 51% { transform: rotate(11deg); }
 68% { transform: rotate(-11deg); }
 85% { transform: rotate(8deg); }
 100% { transform: rotate(0deg); }
}

@-webkit-keyframes swivel {
 0% { margin-left:5px;}
 17% { margin-left:-5px;}
 34% { margin-left:5px;  }
 51% { margin-left:-5px; }
 68% { margin-left:5px; }
 85% { margin-left:-5px; }
 100% { margin-left:5px; }
}
@-moz-keyframes swivel {
  0% { margin-left:5px;}
 17% { margin-left:-5px;}
 34% { margin-left:5px;  }
 51% { margin-left:-5px; }
 68% { margin-left:5px; }
 85% { margin-left:-5px; }
 100% { margin-left:5px; }
}
@-o-keyframes swivel {
 0% { margin-left:5px;}
 17% { margin-left:-5px;}
 34% { margin-left:5px;  }
 51% { margin-left:-5px; }
 68% { margin-left:5px; }
 85% { margin-left:-5px; }
 100% { margin-left:5px; }
}
@keyframes swivel {
 0% { margin-left:5px;}
 17% { margin-left:-5px;}
 34% { margin-left:5px;  }
 51% { margin-left:-5px; }
 68% { margin-left:5px; }
 85% { margin-left:-5px; }
 100% { margin-left:5px; }
}

@-webkit-keyframes clockpoint {
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}


@-moz-keyframes clockpoint {
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}


@-o-keyframes clockpoint {
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}
@keyframes clockpoint {
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}

@-webkit-keyframes kohost {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(60px, 0, 0);
    transform: translate3d(60px, 0, 0);
  }
  30% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  70% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
  }
}

@keyframes kohost {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(60px, 0, 0);
    transform: translate3d(60px, 0, 0);
  }
  30% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  70% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
  }
}